<?xml version="1.0" encoding="UTF-8"?>

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>

  <!--<filter>-->
    <!--<filter-name>LoginFilter</filter-name>-->
    <!--<filter-class>filter.LoginFilter</filter-class>-->
      <!--&lt;!&ndash;<init-param>&ndash;&gt;-->
        <!--&lt;!&ndash;<param-name>passUrl</param-name>&ndash;&gt;-->
        <!--&lt;!&ndash;<param-value>/;/resource/*;/login.jsp;/login_servlet;/register.jsp</param-value>&ndash;&gt;-->
      <!--&lt;!&ndash;</init-param>&ndash;&gt;-->
  <!--</filter>-->

  <!--<filter-mapping>-->
    <!--<filter-name>LoginFilter</filter-name>-->
    <!--<url-pattern>/content/*</url-pattern>-->
  <!--</filter-mapping>-->
</web-app>
